<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
	<meta name="theme-color" content="#111111" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ if not .IsHome }}{{ .Page.Title }} - {{else}} Make your business go further, faster –
		{{ end }}{{ .Site.Title }}</title>
	{{ if .Description }}
	<meta name="description" content="{{ .Description }}">
	{{ else if .IsPage }}
	<meta name="description" content="{{ .Description | plainify }}">
	{{ else if eq .Permalink "/posts/" }}
	<meta name="description" content="Keep up to date with what's happening with Strike">
	{{ else }}
	<meta name="description" content="Strike are a digital design studio that help companies build better products, get closer to their customers and figure out
	where they’re going next.">
	{{ end }}
	<meta name="author" content="Strike Design Labs">
	<link rel="stylesheet" href="{{ "style.css" | relURL }}">
	{{ with .OutputFormats.Get "RSS" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>

<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
	<script src="{{ "main.js" | relURL }}" defer></script>
</body>

</html>