<svg id="icon-product" width="72px" height="72px" viewBox="0 0 72 72" version="1.1" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Icon-Design">
    <rect id="Rectangle" fill="#222222" x="0" y="0" width="72" height="72" rx="36"></rect>
    <g id="Group" transform="translate(16.000000, 18.000000)" fill="#FFD900">
      <rect id="Top" fill-opacity="0.5" x="0" y="0" width="40" height="7.05882353"></rect>
      <rect id="Second" x="0" y="9.41176471" width="40" height="7.05882353"></rect>
      <rect id="Right-Middle" fill-opacity="0.5" x="21.1764706" y="18.8235294" width="18.8235294" height="7.05882353">
      </rect>
      <rect id="Left-Middle" x="0" y="18.8235294" width="18.8235294" height="7.05882353"></rect>
      <rect id="Bottom" fill-opacity="0.5" x="0" y="28.2352941" width="40" height="7.05882353"></rect>
    </g>
  </g>
</svg>