{{ define "main" }}
<main>
	<div class="backer-img" style="background-image:url('/images/Home-Background.svg');"></div>
	<header role="banner">
		<div class="animated fadeIn">
			<h1>Transform your business with Design Sprints</h1>
			<p>Strike is a business-driven design agency specialising in UX design, product strategy, and rapid innovation.
			</p>
		</div>
		<a href="#contact" class="button button-primary button-lg primary-cta">Get in touch</a>
	</header>
	<section class="l-block" id="pitch">
		<div class="l-inner">
			<grid columns="2">
				<c>
					<article class="animated fadeIn">
						<h2>Design is your new secret weapon</h2>
						<p>According to an inVision report, companies that utilise design properly are proven to
							increase revenue share,
							product quality, time to market and customer satisfaction.</p>
						<p>Design is transforming today's organizations. Using our agile, Design Sprint process you can build better
							products, get
							closer to your customers & find out what to do next.</p>
					</article>
				</c>
				<c>
					<aside>
						<img class="lazyload rounded" data-src="/images/Declan-1@2x.jpg" data-srcset="/images/Declan-1@3x.jpg 3x"
							alt="Design is a super power" />
					</aside>
				</c>
			</grid>
		</div>
	</section>
	<section class="l-block" id="testimonial">
		<div class="l-inner">
			<div class="animated fadeIn">
				{{ partial "blockquote-carousel" .}}
			</div>
		</div>
	</section>
	<section class="l-block" id="services">
		<div class="l-inner">
			<header>
				<h2>What we do</h2>
				<p>We work in blocks of sprints so you can plug-in to a highly effective product team, tackling
					big challenge and
					testing new ideas, without the agency overhead.</p>
			</header>
			<grid columns="3">
				{{ range first 3 .Paginator.Pages }}
				<c>
					<a href="{{.Permalink}}" class="card card--service"
						style="background-image:url(/images/{{.Params.heroImg}}@2x.png);background-size:cover;">
						<div class="card--service__overlay">
							<h4>{{.Params.tagline}}</h4>
							<p>{{.Title}}</p>
						</div>
					</a>
				</c>
				{{end}}
			</grid>
		</div>
	</section>
	<section class="l-block" id="work">
		<div class="l-inner">
			<header>
				<h5>Jam Pan</h5>
				<h2>We helped design an online recruitment platform to find the best talent</h2>
				<ul class="tags">
					<li>Product Strategy</li>
					<li>Design Sprint</li>
					<li>User Testing</li>
					<li>Rapid prototyping</li>
					<li>Illustration</li>
					<li>Visual Design</li>
				</ul>
			</header>
			<img class="lazyload" data-src="/images/Mockups.png" data-srcset="/images/Mockups@2x.png 800w" alt="Jam Pan" />
			<a href="/posts/jampan-case-study/" class="button button-outline">Read fully case study</a>
		</div>
	</section>
	<section class="l-block" id="clients">
		<div class="l-inner">
			<h5>We’ve helped some of the best companies design better</h5>
			<img src="/images/Logos@2x.png" alt="Logos" />
		</div>
	</section>
</main> {{ end }}