#about-pitch {
  article {
    max-width:45ch;        
  }
  article p:last-of-type {
    color:#fff;
  }
}

#join {
  text-align: center;

  p {
    max-width:55ch;
    margin-left:auto;
    margin-right:auto;
  }
}

