#about-pitch {
  article {
    max-width:45ch;       
    
    @media(min-width:56rem) {
      margin:0 auto;
    }
  }
  article p:last-of-type {
    color:#fff;
    font-size:1rem;
  }
}

#join {
  text-align: center;

  p {
    max-width:55ch;
    margin-left:auto;
    margin-right:auto;
  }
}

