// Blog
.post-grid,
.post-content {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(auto, 65ch) minmax(0, 1fr);
}
.post {
  grid-column: 2;
  padding:var(--spacing-lg) 0;
  border-bottom:4px solid var(--colour-grey__darkest); 

  small {
    display: block;
    color:var(--colour-grey);
    text-transform: uppercase;
    font-weight:bold;
    letter-spacing: 1px;
    margin-bottom:var(--spacing-xs);
  }
}
.author-img {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin:var(--spacing-md) 0 0 0;
}
.author-img .author-text {
  padding-left:var(--spacing-sm);
  
  p:first-of-type {
    color:var(--type-color__primary);
    font-weight:bold;
    margin:0;
    line-height: 1.2;
  }

  p:last-of-type {
    font-weight: normal;
    margin:0;    
  }
}
.author-img img {
  max-width:3rem;
}

// Post Page
.post-content {
  padding-bottom:var(--spacing-lg);

  strong {
    color:var(--type-colour__primary);
  }
}

.post-content > * {
  grid-column: 2;
}
.post-content .full-width {
  grid-column: 1 / 4;
  width: 100%;
  max-width: 100ch;
  justify-self: center;
  margin-top:var(--spacing-lg);

  img {
    border-radius:var(--border-radius);
  }

  small {
    display: block;
    color:var(--colour-grey__dark);
    text-align:center;
    margin:0 auto;
    padding:var(--spacing-xs) 0;
  }

  & + p,
  & + h3 {
    margin-top:var(--spacing-lg);
   }
}
.post-content p + h3 {
  margin-top:var(--spacing-lg);
}


.breadcrumb {
  font-size:1rem;

  a {
    color:var(--type-colour__primary);
    font-size:1em;
    font-weight:bold;
    text-decoration: none;
  }
}

.post__what-you-get ul {
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow:column nowrap;
  margin-top:var(--spacing-sm);
  margin-bottom:var(--spacing-lg);

  @media(min-width:56rem){
    flex-flow:wrap;
    align-items: center;
  }
  
  li {
    display:flex;
    justify-content: flex-start;
    line-height:1.5;  
    padding-right:var(--spacing-sm);
    color:var(--colour-primary);  
  }
  li p {
    color:#fff;
  }
  li::before {
    content:'•';
    display:inline;
    font-size:1.25em;
    padding-right:var(--spacing-xs);
    color:currentColor;
  }

  li:first-of-type { color: #2F46FD; }
  li:nth-of-type(2) { color: #F9315D; }
  li:nth-of-type(3) { color: #B066FF; }
  li:nth-of-type(4) { color: #18C157; }
  li:nth-of-type(5) { color: #FF4F00; }
  li:nth-of-type(6) { color: var(--colour-primary); }
}
.post-content .cta {
  color:var(--type-colour__secondary);
  font-weight:normal;  
  text-align: center;
  margin:var(--spacing-md) 0;
  padding:var(--spacing-md) 0;
  border-top:8px solid var(--colour-grey__dark);
  border-bottom:8px solid var(--colour-grey__dark);

  p {
    max-width:45ch;
    margin:0 auto;
    margin-bottom:var(--spacing-body);
  }
  strong {
    display:block;
    color:var(--type-colour__primary);
    font-weight:bold;
    padding-bottom:var(--spacing-body);
  }
}
.case-study-summary {
  display:block;

  h4 {
    display:flex;
    justify-content: flex-start;
    line-height:1.5;  
    padding-right:var(--spacing-sm);       
  }
}
