#pitch aside {
  display:flex;
  justify-content: flex-end;
}
#pitch article {
  max-width:45ch;
}
#pitch article h2 {
  max-width:15ch;
}

#work {
  text-align:center;

  img {
    margin:var(--spacing-lg) 0;    
  }
}
#work header {
  display:block;
  text-align: center;

  h2 {
    max-width:30ch;
    margin-left:auto;
    margin-right:auto;
  }  
}

#services grid {
  margin-top:var(--spacing-md);
}
#services grid article {
  text-align:center;
}
#services grid article svg {
  display:block;
  margin:0 auto;
  margin-bottom:var(--spacing-sm);
  width:4rem;
  height:auto;
}

#clients {
  text-align:center;

  h5 {
    color:var(--type-colour__primary);    
  }
  img {
    display: block;
    margin:0 auto;    
    margin-top:var(--spacing-lg);

    @media(min-width:56rem) {
      max-width:80%;
    }
  }  
}