#pitch aside {
  display:block;
  justify-content: flex-end;
}
#pitch article {
  max-width:45ch;
}
#pitch article h2 {
  max-width:15ch;
}

#work {
  text-align:center;

  img {
    margin:var(--spacing-md) 0;    
  }
}
#work header {
  display:block;
  text-align: center;

  h2 {
    max-width:30ch;
    margin-left:auto;
    margin-right:auto;
  }  
}
#services {
  text-align:center;
}
#services grid {
  margin:var(--spacing-md) 0;
  text-align:left;
}
#services header {
  text-align:center;

  p {
    max-width:65ch;
    margin-left:auto;
    margin-right:auto;
  }
}


#clients {
  text-align:center;

  h5 {
    color:var(--type-colour__primary);    
  }
  img {
    display: block;
    margin:0 auto;    
    margin-top:var(--spacing-lg);

    @media(min-width:56rem) {
      max-width:80%;
    }
  }  
}