#packages .grid__packages,
#packages .grid__core-services {
  margin-top:var(--spacing-xl);
}

#packages .grid__packages grid {
  margin-bottom:var(--spacing-lg);

  &:last-of-type {
    margin-bottom:0;
  }

  img {
    border-radius:0.5rem;
  }
}
#packages .grid__packages grid c:last-of-type {
  display:flex;
  justify-content: center;
  align-items: center;

  article {
    max-width:55ch;
  }
  ul {
    margin-bottom:var(--spacing-body);

    li p {
      color:var(--type-colour__secondary);
    }
  }
}
#packages .grid__packages grid:nth-child(odd) {
  direction: rtl;

  c {
    direction: ltr;
  }
}

.not-sure-block {
  text-align:center;
  
  p {
    max-width:67ch;
    margin-left:auto;
    margin-right:auto;
  }
}

#packages .grid__core-services c {
  margin-bottom:var(--spacing-lg);
}
#packages .grid__core-services article {
  text-align:center;
}
#packages .grid__core-services article svg {
  height:auto;
  width:4rem;
  margin-bottom:var(--spacing-sm);
}

#how-we-work {
  text-align:center;
  background-color:var(--colour-black)
}
#how-we-work grid {
  margin-top:var(--spacing-lg);
}

.post-content .post-recipe-step {
  display: block;
  border-radius:0.25rem;
  text-align:center; 
  background-color:var(--colour-black);
  height:100%;

  .post-recipe__header {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1.5rem;           
    background-color:var(--colour-grey__darkest);  
    
    h4 {
      margin:0;
    }
  }

  .post-recipe__body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow:column nowrap;
    
    padding:1.5rem;

    p {
      font-size:1rem;      
    }
  }
  .post-recipe__footer {
    padding:0.5rem 1rem;
    background-color:var(--colour-grey__darkest); 
    text-align:center;

    h5 {
      margin:0;
    }
  }
}