#contact {
  position: relative;
  background-color:var(--colour-primary);
  text-align: center;

  .contact__inner {
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow:column nowrap;

    img {
      border-radius:50%;
      margin-bottom:var(--spacing-sm);
    }
  }

  h1,
  a {
    color:var(--colour-black);    
  }
  a {
    font-size:inherit;
  }
  p {
    max-width:55ch;
    margin-left:auto;
    margin-right:auto;
    color:var(--colour-grey__darkest);
    margin-bottom:0;
  }
  strong {
    color:var(--colour-black);
  }
}
#contact .backer-pattern {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size:cover;
  z-index: 0;
}
#contact .l-inner {
  position: relative;
  z-index: 1;
}
#mc_embed_signup {
  display:block;
  width:100%;
  max-width:32rem;
  margin-top:var(--spacing-h1);

  .mc-form-wrap {
    display:flex;    
    justify-content: center;
    align-items: center;
    flex-flow:column nowrap;    
    border:0;
    width:100%;

    @media(min-width:56rem) {
      background-color:var(--colour-grey__lightest);
      border-radius:var(--border-radius);
      flex-flow:row nowrap;
      justify-content: flex-start;
      align-items:stretch;
    }
  }

  input[type="submit"] {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    box-shadow:none;
    width:100%;
    margin-top:var(--spacing-xs);

    @media(min-width:56rem) {
      margin-top:0;
      width:auto;
    }

    &:hover {
      transform:translate3d(0,0,0);
    }
  }

  input[type="email"] {
    width:100%;
    padding:var(--spacing-sm);
    color:#888;
    background-color:var(--colour-grey__lightest);
    border-radius:var(--border-radius);
    border:0;    
    flex:1;
    font-size:calc(var(--type-size__h1) / 3);
    
    &:focus {
      color:var(--colour-black);
      outline:0;
    }
  }
}

footer {
  padding:var(--spacing-xl) var(--spacing-sm);
  text-align:center;
  
  @media(min-width:56rem) {
    text-align:left;
  }
}
footer p,
footer a {
  font-size:1em;
}
footer aside p {
  max-width:20ch;
  margin-top:var(--spacing-xs);
  text-align:center;
  margin-left:auto;
  margin-right:auto;

  @media(min-width:48rem) {
    text-align:center;
    margin-left:0;
  }
}
footer c address {
  color:var(--type-colour__secondary);
  padding:var(--spacing-xs) 0 0 0;
  font-style:normal;
  line-height: 2;
}
footer c ul {
  line-height: 2;
}
footer c ul li:first-of-type {
  font-weight:bold;
  color:var(--type-colour__primary);
}
footer c ul li a{
  padding:var(--spacing-xs) 0 0 0; 
  color:var(--type-colour__secondary);
}