header[role="banner"] {
  display:flex;
  justify-content: center;
  align-items:center;
  flex-flow:column nowrap;
  padding:var(--spacing-xl) var(--spacing-sm) var(--spacing-xl) var(--spacing-sm);
  text-align:center;
}
header[role="banner"] h1 {
  max-width:20ch;
  margin-left:auto;
  margin-right:auto;  
}
header[role="banner"] p {
  max-width:55ch;
  margin-left:auto;  
  margin-right:auto;
  margin-bottom:var(--spacing-h1);
}
header[role="banner"] .button {
  width:100%;  

  @media(min-width:56rem) {
    width:auto;
  }
}
header.page-header {
  position: relative;  
  padding:var(--spacing-xl) var(--spacing-sm) var(--spacing-lg) var(--spacing-sm);
  
  .back-pattern {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:75vh;
    background-size:cover;
    background-position: bottom;
    z-index: -1;
  }
}

header.post-header {
  display:block;  
  padding:var(--spacing-lg) 0 var(--spacing-sm) 0;

  .breadcrumb + h2  {
    padding-top:var(--spacing-xs);
  }
}

section header.section-header {
  text-align:center;
  max-width:60ch;
  margin-left:auto;
  margin-right:auto;
}

.backer-img {
  position:absolute;
  top:80px;
  left:0;
  right:0;
  height:100vh;
  z-index:-1;
  background-position:0 15%;
}
.backer-img::after {
  content:'';
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height:50vh;
  background: linear-gradient(-180deg, transparent, #111);
  z-index: 1;
}