nav[role="navigation"] {
  display:block;    
  background-color:var(--color-bg);
}
@media(min-width:56rem) {
  nav[role="navigation"] {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .nav-inner {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
}
nav .nav-inner {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:var(--spacing-sm) var(--spacing-xs);  

  .logo img {
    max-width:124px;
  }
}
@media(min-width:56rem) {
  nav .nav-inner {
    display:block;    
    margin-bottom:0;
  }
  nav .nav-inner #toggle-nav-links {
    display:none;
  }
}
nav .nav-links {
  display:block;
  width:100%;
  text-align: center;      
  padding:0 var(--spacing-xs);  
  max-height:0;
  overflow:hidden;
  will-change: max-height, overflow;  
  transition:all .2s ease;
}
nav .nav-links.is-open {
  max-height:100vh;
  overflow:visible;
  transition:all .2s ease;
}
nav .nav-links li {
  display:block;  
  color:var(--type-colour__black);
}
@media(min-width:56rem) {
  nav .nav-links {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;    
    padding:0;
    margin-left:-1rem;
    background-color:transparent;
    max-height:auto;
    overflow:visible;
  }
  nav .nav-links li {
    display:block;
    padding-left:var(--spacing-xs);
  }
}

nav .nav-links li:last-of-type a {
  color:var(--colour-primary);  
}
nav .nav-links li a {
  display:inline-block;
  padding:var(--spacing-xs);  
  border-radius:var(--border-radius);
  background-color:transparent;
  color:var(--type-colour__secondary);
  text-decoration: none;
  transition: all .2s ease;
}
nav .nav-links li a:hover,
nav .nav-links li a:focus,
nav .nav-links li a.is-active {  
  color:var(--type-colour__primary);
  transition: all .2s ease;
}
 
