.tags {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:wrap;
}
.tags li {
  display:block;
  list-style: none;
  padding:0.5rem 0.75rem;
  background-color:var(--colour-black);  
  color:var(--colour-grey);
  text-align:center;
  margin:0 0.25rem;
  border-radius:calc(var(--border-radius) * 10);
}