{{ define "main" }}
<main>
  {{ .Scratch.Set "title" .Title }}
  {{ .Scratch.Set "desc" .Description }}
  {{ partial "page-header" .}}
  <section class="l-block" id="about-pitch">
    <div class="l-inner">
      <grid columns="2">
        <c>
          <aside>
            <img class="lazyload rounded" data-src="/images/About-us.jpg" data-srcset="/images/About-us@2x.jpg 800w"
              alt="Design is a super power" />
          </aside>
        </c>
        <c>
          <article>
            <h2>Let's change how we build products</h2>
            <p>After building products for a long time, we started to grow tired of the tired, old model of designing
              products. We started to ask “Why does this take a whole year, when it could take a month?”</p>
            <p>So we set out to be different. We’re built to be small and collaborative. Our fast-paced, agile approach
              to product design makes the best use of your resources and time, and delivers better results.</p>
            <p><strong>Strike Design Labs are part of the Mindera Group, built to be a radically different approach to
                designing products.</strong></p>
          </article>
        </c>
      </grid>
    </div>
  </section>
  <section class="l-block" id="testimonial">
    <div class="l-inner">
      <blockquote class="animated fadeIn lg">
        <h4>Whenever a company hires an agency, they are plugging into a 40 year old mindset. Most of your budget is
          going on box-ticking, hoop-jumping busywork to keep the agency afloat. Really, they should function like a
          startup – an entrepreneur for hire.</h4>
        <div class="author">
          <p><strong>Rob Hough</strong>Innovation Lead</p>
          <img class="lazyload" data-src="/images/Rob.png" data-srcset="/images/Rob@2x.png 800w" alt="Rob" />
        </div>
      </blockquote>
    </div>
  </section>
  <section class="l-block" id="purpose">
    <div class="l-inner">
      <div class="card card--media">
        <aside>
          <img class="lazyload" data-src="/images/Team.jpg" alt="Our Team" />
        </aside>
        <div class="card--media__inner">
          <article>
            <h3>The values that drive our company</h3>
            <p>As part of the Mindera Group, we believe in the same purpose and approach to work. We use them to guide
              us
              when making decisions, big and small.</p>
            <a href="/posts/values-purpose-playbook">Read more →</a>
          </article>
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}