{{ define "main" }}
<main>
  {{ .Scratch.Set "title" .Title }}
  {{ .Scratch.Set "desc" .Description }}
  {{ partial "page-header" .}}
  <section class="l-block" id="about-pitch">
    <div class="l-inner">
      <grid columns="2">
        <c>
          <aside>
            <img class="lazyload rounded" data-src="/images/About-us.jpg" data-srcset="/images/About-us@2x.jpg 800w"
              alt="Design is a super power" />
          </aside>
        </c>
        <c>
          <article>
            <h2>A different kind of agency</h2>
            <p>Formed by a team of experienced designers and leaders, we started to challenge the tired old agency model
              of building products.</p>
            <p>Our agency is different. We’re built to be lean and collaborative. We are dedicated to creating the best
              products and services, without wasting your time or budget.</p>
            <p><strong>Strike Design Labs are part of the Mindera Group, built to be a radically different approach to
                designing products.</strong></p>
          </article>
        </c>
      </grid>
    </div>
  </section>
  <section class="l-block" id="testimonial">
    <div class="l-inner">
      <blockquote class="animated fadeIn lg">
        <h4>Whenever a company hires an agency, they are plugging into a 40 year old mindset. Most of your budget is
          going on box-ticking, hoop-jumping busywork to keep the agency afloat. Really, they should function like a
          startup – an entrepreneur for hire.</h4>
        <div class="author">
          <p><strong>Rob Hough</strong>Innovation Lead</p>
          <img class="lazyload" data-src="/images/Rob.png" data-srcset="/images/Rob@2x.png 800w" alt="Rob" />
        </div>
      </blockquote>
    </div>
  </section>
</main>
{{ end }}