:root {

  --colour-primary:#FFD900;
  --colour-primary__dark:#ffd02f;
  --colour-accent:#304FFE;
  --colour-accent__dark:#1e20a0;
  --colour-grey__lightest:#f5f5f5;
  --colour-grey__light:#eee;
  --colour-grey:#d8d8d8;
  --colour-grey__dark:#888;
  --colour-grey__darkest:#444;
  --colour-black:#222;
  --color-bg:#111;
  

  --type-stack__headline:'Mabry', -system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --type-stack__body:'Inter', -system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --type-colour__primary:rgba(255,255,255,0.9);
  --type-colour__secondary:rgba(255,255,255,0.6);
  --type-colour__black:var(--type-colour__primary);
  --type-colour__grey:var(--type-colour__secondary);
  
  --type-size__h1:2.5rem;
  --type-size__h2:2rem;
  --type-size__h3:1.75rem;
  --type-size__h4:1.25rem;
  --type-size__h5:1rem;
  --type-size__body-1:1.125rem;
  --type-size__body-2:1rem;
  --type-size__small:0.75rem;
  
  --type-baseline:calc(1rem * 1.25);  
  --type-lg__headline:1.2;
  --type-lh__body:1.75;
  
  --type-spacing__headline:0.6em;
  --type-spacing__body:1em;

  --spacing-xs:0.5rem;
  --spacing-sm:1rem;
  --spacing-md:2rem;
  --spacing-lg:3rem;
  --spacing-xl:6rem;

  --spacing-h1:calc(var(--type-size__h1) * 0.6);
  --spacing-h2:calc(var(--type-size__h2) * 0.6);
  --spacing-h3:calc(var(--type-size__h3) * 0.6);
  --spacing-h4:calc(var(--type-size__h4) * 0.6);
  --spacing-body:var(--type-size__body-1);

  --border-radius:0.25rem;
  --keyline:1px solid var(--colour-grey);
  --shadow-sm:0px 1px 4px rgba(0,0,0,0.1);
  --shadow-md:0px 2px 1rem rgba(0,0,0,0.16);
  --shadow-lg:0px 0.5rem 2rem rgba(0,0,0,0.16);
}

@media(min-width:56rem) {
  :root {
    --type-size__h1:3.5rem;
    --type-size__h2:2.75rem;
    --type-size__h3:2.5rem;
    --type-size__h4:2rem;
    --type-size__h5:1.125rem;
    --type-size__body-1:1.25rem;
    --type-size__body-2:1.125rem;
    --type-size__small:1rem;
    
    --spacing-sm:1.5rem;
    --spacing-md:2.5rem;
    --spacing-lg:5rem;
    --spacing-xl:10rem;
  }
  
}