{{ define "main" }}
<main>
  <div class="l-inner">
    <div class="post-content">
      <header class="post-header">
        <p class="breadcrumb"><a href="/posts">Blog</a> / {{.Title}}</p>
        <h2>{{.Title}}</h2>
        <div class="author-img">
          <img data-src="/images/Rob@2x.png" alt="Rob" class="js-lazy-img" />
          <div class="author-text">
            <p>Rob Hough</p>
            <p>Innovation Lead</p>
          </div>
      </header>
      {{ .Content }}
    </div>
  </div>
</main>
{{ end }}