<div class="main-carousel" data-flickity='{"adaptiveHeight": true}'>
  <div class="carousel-cell">
    <blockquote class="lg">
      <h4>“When we worked with the guys [at Strike], they helped us run a Design Sprint for a new web app. The 4-day
        process
        helped us quickly test our
        idea and get
        feedback from real customers.”</h4>
      <div class="author">
        <p><strong>Jemma Williams</strong></p>
        <span>Business Development Director, Dunelm</span>
      </div>
    </blockquote>
  </div>
  <div class="carousel-cell">
    <blockquote class="lg">
      <h4>“Strike helped us bring our ideas to life. From running a brand sprint for our company to developing all
        the
        UX and look of our first game, Rush. These guys are a guaranteed investment if you want to get your product up
        and moving quickly.”</h4>
      <div class="author">
        <p><strong>Mita Patel</strong></p>
        <span>CTO, Buzz Games</span>
      </div>
    </blockquote>
  </div>
  <div class="carousel-cell">
    <blockquote class="lg">
      <h4>“The team [at Strike] helped us design a brilliant user experience and improved look and feel for our web app
        that measurably attracts more customers and helped further
        engage our existing ones.”</h4>
      <div class="author">
        <p><strong>Julia Spencer</strong></p>
        <span>Head of Operations, Jam Pan</span>
      </div>
    </blockquote>
  </div>
</div>