<section id="contact" class="l-block">
	<div class="backer-pattern" style="background-image:url('/images/Pattern.svg');"></div>
	<div class="l-inner">
		<div class="contact__inner">
			<img src="/images/Rob@2x.png" alt="Rob" />
			<h3>Book a free call today</h3>
			<p>Ready to get started? Book a free 30 minute call with
				<strong>Rob</strong> our design expert, or <a href="mailto:hello@strikedesignlabs.com">email us</a> and
				we'll get back to you.</p>
			<a href="https://calendly.com/strike-mindera/30min" target="_blank" rel="noopener"><button
					class="button button-primary button-lg">Book call</button></a>
		</div>
	</div>
</section>
<footer>
	<p>&copy; {{ now.Year }} {{ .Site.Title }}</p>
</footer>