<section id="contact" class="l-block l-block__pad-in">
	<div class="backer-pattern" style="background-image:url('/images/Pattern.svg');"></div>
	<div class="l-inner">
		<div class="contact__inner">
			<h1>Ready to get started?</h1>
			<p>Fill in the form below and we'll contact you about getting your project started. Or you can send an email to
				<a href="mailto:hello@strikedesignlabs.com">hello@strikedesignlabs.com</a></p>
			{{partial "mailchimp-form" .}}
		</div>
	</div>
</section>
<footer>
	<div class="l-inner">
		<grid columns="4">
			<c>
				<aside>
					<a href="/" class="logo"><img src="/images/Logo.svg" alt="Strike Design Labs" /></a>
					<p>Strike Design Labs are part of the Mindera Group</p>
				</aside>
			</c>
			<c>
				<ul>
					<li>Where to find us</li>
					<li>
						<address>
							29 Rutland Street</br>
							Leicester</br>
							LE1 1RD</br>
							United Kingdom
						</address>
					</li>
				</ul>
			</c>
			<c>
				<ul>
					<li>Contact</li>
					<li><a href="mailto:hello@strikedesignlabs.com">Email</a></li>
					<li><a href="https://instagram.com/strikedesignlab">Instagram</a></li>
					<li><a href="https://linkedin.com/strike-design-labs">LinkedIn</a></li>
				</ul>
			</c>
			<c>
				<ul>
					<li>Sitemap</li>
					{{ $current := . }}
					{{ range .Site.Menus.main }}
					{{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
					<li><a href="{{ .URL }}" class='{{ if $active }}is-active{{ end }}'>{{ .Name }}</a></li>
					{{ end }}
					<li><a href="/privacy-policy">Privacy Policy</a></li>
				</ul>
			</c>
		</grid>
	</div>
</footer>
<div id="cookie-bar">
	<p>This website uses cookies so we can make our website experience better. Read our <a href="/privacy-policy">privacy
			policy</a> for more information. You can opt out <a href="javascript:gaOptout()">here</a></p>
	<button class="button button-sm" id="ga-accept">Got it</button>
</div>