<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
  <form
    action="https://strikedesignlabs.us4.list-manage.com/subscribe/post?u=a60d0061cd7885f21be364c85&amp;id=0cf792ed84"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
    novalidate>
    <div class="mc-form-wrap">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address"
        required />
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
          name="b_a60d0061cd7885f21be364c85_0cf792ed84" tabindex="-1" value=""></div>
      <input type="submit" value="Get started" name="subscribe" id="mc-embedded-subscribe"
        class="button button-primary">
    </div>
  </form>
</div>
<!--End mc_embed_signup-->